* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}
:root {
    font-size: 62.5%; /* Set from 16px to 10px for easy rem calculation */
    --main-color: oklch(86.731% 0.15314 95.622);
    --main-bright-color: oklch(88.397% 0.15314 95.622);
    --main-dimmed-color: oklch(81.158% 0.15314 95.622);
    --main-dark-color: oklch(77% 0.15314 95.622);
    --secondary-color:oklch(68.153% 0.18669 256.066);
    --secondary-dimmed-color: oklch(60.485% 0.18538 255.836);
    --secondary-dark-color: oklch(55.485% 0.18538 255.836);
    --bg-dark-color: oklch(92.494% 0.00011 271.152);
    --bg-bright-color: oklch(100% 0.00011 271.152);
    --border-color: oklch(76.676% 0.00009 271.152);
    --font-color: oklch(21.779% 0.00002 271.152);
    --font-muted-color: oklch(37.15% 0.00004 271.152);
    --warning-color: oklch(58.512% 0.23425 30.051);
    --icon-color: oklch(21.779% 0.00002 271.152);
    --icon-hover-color: oklch(37% 0.00002 271.152);
    background: var(--bg-dark-color);
}
#root {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: var(--bg-dark-color);
}