.home {
    width: 4rem;
    height: 4rem;
    fill: var(--main-color);
    cursor: pointer;
    margin-bottom: 2rem;
    &:hover {
        fill: var(--main-dimmed-color);
    }
    &:active {
        fill: var(--main-dark-color);
    }
}
.loginText {
    color: var(--font-color);
    align-self: center;
    font-size: 4rem;
    margin-top: 3.2rem;
}
.statusText {
    color: var(--warning-color);
    font-size: 1.8rem;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    width: 70rem;
    height: 35rem;
    background-color: var(--bg-bright-color);
    border-color: black;
    box-shadow: 0rem 0rem 0.6rem black;
}
.loginButton {
    width: 10rem;
    height: 5rem;
    background: var(--main-color);
    color: var(--font-color);
    font-size: 1.6rem;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    &:hover {
        background: var(--main-dimmed-color);
    }
    &:active {
        background: var(--main-dark-color);
    }
}
.loginButtonBlocked {
    width: 10rem;
    height: 5rem;
    background: var(--main-dark-color);
    color: var(--font-color);
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
}
.form {
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;    
}
.inputsBox {
    display: flex;
    gap: 2rem;
}
.input {
    outline: none;
    border: none;
    height: 3rem;
    text-indent: 1rem;
    border-radius: 2rem;
    font-size: 1.8rem;
    color: var(--font-color);
    border-color: black;
    box-shadow: 0rem 0rem 0.2rem black;
}
.footer {
    margin-top: 2dvh;
    font-size: 1.6rem;
    color: var(--font-muted-color);
}
.link {
    color: var(--secondary-dark-color);
    &:hover {
        cursor: pointer;
        color: var(--main-dimmed-color);
    }
    &:active {
        color: var(--main-dark-color);
    }
}