.header {
    width: 100%;
    height: 7rem;
    background-color: var(--main-color);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bodyContainer {
    width: 100%;
    height: 100%;
    background: var(--bg-dark-color);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.savedRepositories {
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    fill: var(--icon-color);
    &:hover {
        fill: var(--font-muted-color);
        cursor: pointer;
    }
}
.home {
    width: 4rem;
    height: 4rem;
    fill: var(--secondary-color);
    cursor: pointer;
    &:hover {
        fill: var(--secondary-dimmed-color);
    }
    &:active {
        fill: var(--secondary-dark-color);
    }
}
.homeInactive {
    fill: var(--icon-color) !important;
    &:hover {
        fill: var(--icon-hover-color) !important;
    }
}
.login {
    font-size: 1.8rem;
    width: 8rem;
    height: 4rem;
    line-height: 2.2;
    margin-right: 2rem;
    color: var(--font-color);
    text-decoration: none;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 0.5rem;
    &:hover {
        background-color: var(--secondary-dimmed-color);
    }
    &:active {
        background-color: var(--secondary-dark-color);
    }
}
.profile {
    margin-right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    fill: var(--icon-color);
    &:hover {
        fill: var(--icon-hover-color);
        cursor: pointer;
    }
}
.profileActive {
    fill: var(--secondary-color) !important;
    &:hover {
        fill: var(--secondary-dimmed-color) !important;
    }
    &:active {
        fill: var(--secondary-dark-color) !important;
    }
}
.profileOptionsContainerWrapper {
    height: 100%;
    width: 35rem;
    top: 0;
    right: 0;
    overflow-y: clip;
    position: absolute;
}
.profileOptionsContainer {
    background-color: var(--bg-bright-color);
    height: 100%;
    width: 100%;
    box-shadow: 0rem 0rem 0.6rem black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}
.profileOption {
    font-size: 1.6rem;
    width: 90%;
    min-height: 3rem;
    max-height: auto;
    &:first-child {
        margin-top: 1rem;
    }
}
.logout {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--warning-color);
    border: solid 0.2rem var(--border-color);
    border-radius: 0.5rem;
    width: 80%;
    height: 4rem;
    text-align: center;
    line-height: 3.3rem;
    background-color: var(--bg-bright-color);
    &:hover {
        background-color: var(--bg-dark-color);
        cursor: pointer;
    }
    &:active {
        background-color: var(--border-color);
    }
}
.logoutBlocked {
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--warning-color);
    border: solid 0.2rem var(--border-color);
    border-radius: 0.5rem;
    width: 80%;
    height: 4rem;
    text-align: center;
    line-height: 3.3rem;
    background-color: var(--border-color);
}
.hidden {
    visibility: hidden;
    margin-left: 6rem !important;
}